@font-face {
    font-family: 'Raleway';
    src: url('font_files/RalewayThin-Light.woff2') format('woff2'),
        url('font_files/RalewayThin-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}