@font-face {
    font-family: 'Chonburi';
    src: url('font_files/chonburi-regular-webfont.woff2') format('woff2'),
        url('font_files/chonburi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}